body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:532px;
  width:1920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:195px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:630px;
  height:195px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:90px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:824px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:213px;
  width:1300px;
  height:824px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:404px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:146px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:430px;
  width:142px;
  height:146px;
  opacity:0;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:18px;
  width:1180px;
  height:195px;
  overflow:hidden;
}
#u36_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:195px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u36_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:14px;
  width:149px;
  height:149px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:14px;
  width:149px;
  height:149px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:14px;
  width:149px;
  height:149px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:14px;
  width:149px;
  height:149px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:14px;
  width:149px;
  height:149px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:14px;
  width:149px;
  height:149px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:190px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-7px;
  width:190px;
  height:190px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:87px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:201px;
  width:1468px;
  height:836px;
  overflow:hidden;
  visibility:hidden;
}
#u51_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1468px;
  height:836px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:1422px;
  height:768px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:1418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:40px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u55 {
  border-width:0px;
  position:absolute;
  left:1389px;
  top:2px;
  width:70px;
  height:70px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:12px;
  width:50px;
  height:50px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:52px;
  width:1096px;
  height:581px;
}
#u59_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  height:581px;
  overflow:hidden;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:46px;
  width:130px;
  height:130px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:163px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:643px;
  width:130px;
  height:163px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:325px;
  width:200px;
  height:200px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:1324px;
  top:325px;
  width:100px;
  height:200px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:565px;
  width:1px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FF9900;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:591px;
  width:289px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FF9900;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:188px;
  width:284px;
  height:122px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:119px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:732px;
  width:159px;
  height:119px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:119px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:603px;
  width:159px;
  height:119px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:119px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:474px;
  width:159px;
  height:119px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:119px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:345px;
  width:159px;
  height:119px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
